<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Coffee Shop</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-button color="basic" [routerLink]="['ajax']" >Ajax</button>
    <button mat-button color="basic" [routerLink]="['longPolling']">Polling</button>
    <button mat-button color="basic">Long Polling</button>
    <button mat-button color="basic">Server Sent Event</button>
    <button mat-button color="basic">Web Socket</button>
    <button mat-button color="basic">Signal R</button>
  
  </mat-toolbar>