
<div class="container">
    <div class="row" >
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>My Coffee product</mat-label>
              <input matInput placeholder="product" name="product" [(ngModel)]='product'>
            </mat-form-field>
        <br>
        
            <mat-form-field class="example-full-width">
              <mat-label>my size</mat-label>
              <input matInput placeholder="size" name="size" [(ngModel)]="size" >
            </mat-form-field>
          </form>
        
          <br>

          {{status}}
        
    </div>
    